.page-menu {
    font-family: roboto;
    a {
        display: block;
        max-width: 100%;
        font-size: 32px;
        line-height: 48px;
        text-align: center;
        color: #000;
        font-weight: 500;
        border: 1px solid #DCDCDC;
        flex: 1 1;

        &:hover {
            border-bottom: 8px solid #AA0601;
            padding-bottom: 16px;
        }
    }
}

@media (max-width:992px) {
    .page-menu {
        a {
            font-size: 24px;
            line-height: 36px;
        &:hover {
                padding-bottom: 8px;
            }
        }
    }
}
@media (max-width:767px) {
    .page-menu {
        a {
            font-size: 16px;
            line-height: 24px;
        }
    }
}